/* Наталья, привет! Большое спасибо тебе за обратную связь.
Оперативно исправил все недочёты. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: inherit;
  height: 100%;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item {
  display: block;
  padding: 0px 3px;
} 

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 196px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: center;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.search-form {
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
  cursor: pointer;
  padding: 3px 2px 0;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255 255 255 / 0.7);
  line-height: 100%;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__label:focus,
.content__card-link:focus,
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.content__card-link:has(:focus-visible),
.button:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  appearance: none;
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: inherit;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  width: 390px;
  margin: 30px 2px 2px 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
